@import 'tailwindcss/components';
@layer components {
  .home-food {
    @apply relative
    bg-primary-10
    w-full
    py-20
    px-3
    lg:py-[120px]
    lg:pl-[312px]
    flex
    flex-col
    items-start
    gap-10
    lg:gap-20;
    &-line {
      @apply absolute
      w-[187px]
      left-10
      bottom-[-83px];
    }
    &-dot {
      @apply absolute
      w-[100px]
      h-[100px]
      right-[40px]
      lg:w-[200px]
      lg:h-[200px]
      lg:right-[80px]
      top-[-40px];
    }
    &-heading {
      @apply flex
      items-center
      gap-10;
      &-title {
        @apply flex
        flex-col
        items-start
        gap-1
        text-primary
        font-bold
        text-3.5xl
        lg:text-5xl
        tracking-[1.6px]
        lg:tracking-[2.4px];
      }
      &-line {
        @apply w-[200px]
        lg:w-[167px]
        h-[2px]
        bg-gradient-to-r
        from-primary
        to-white;
      }
    }
    &-card {
      @apply relative
      flex
      justify-center
      items-center
      rounded-lg
      w-[300px]
      h-[480px]
      lg:w-[416px]
      lg:h-[600px];
      &-info {
        @apply absolute
        bottom-0
        w-full
        min-h-[180px]
        lg:min-h-[200px]
        p-4
        lg:p-6
        bg-gradient-to-b
        from-transparent
      to-black-dark
        backdrop-blur-[10px]
        rounded-b-lg;
        &-content {
          @apply flex
          flex-col
          justify-end
          items-start
          gap-4
          lg:gap-6
          text-white;
          &-title {
            @apply flex
            justify-between
            items-center
            gap-2
            self-stretch
            font-bold;
            h5 {
              @apply text-2xl
              tracking-[1.2px];
            }
            &-time {
              @apply flex
              items-center
              text-sm
              lg:text-base
              gap-2
              lg:gap-4;
            }
          }
        }
      }
    }
  }
}
